@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin zeroReset {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    @include zeroReset;
}




body{
    font-family: "Signika", sans-serif;
}

header{
    font-family: "Chelsea Market", cursive;   
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@mixin headerPosition {
    position: absolute;
    width: 1550px;
}

@mixin pulse {
    @keyframes pulse{
        from {
            opacity: 1;
        }
    
        to {
            opacity: 0;
        }
    }
    animation: pulse 1.5s infinite linear;
}


.bottom{
    @include headerPosition;
    z-index: 24;
    bottom: -50px;
    left:0;
    right:0;
}

.middle{
    @include headerPosition;
    z-index: 23;
    left: 0;
    top: 0;
}

.mountains{
    position: absolute;
    width: 1400px;
    top: 180px;
    right:0px;
    z-index:22;
  
}

.title{
    position: absolute;
    right: 130px;
    top: 320px;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    z-index: 30;
    text-shadow: 2px 2px black;
}

.junior{
    position: absolute;
    font-size: 1rem;
    top: 380px;
    right: 330px;
    color: white;
    z-index: 30;
    text-shadow: 2px 2px black;
}

.sky{
    @include headerPosition;
    top: -90px;

    z-index: 21;
}

.downButton{
    position: absolute;
    background: url("img/down.png");
    background-size: cover;
    top: 65%;
    left: 80%;
    width: 50px;
    height: 50px;
    z-index: 45;
    transform: scale(1.6);
    @include pulse;
}

