@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Signika", sans-serif;
  background-color: #070303ef;
  overflow-x: hidden;
}

header {
  font-family: "Chelsea Market", cursive;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bottom {
  position: absolute;
  width: 1520px;
  z-index: 6;
  bottom: 0px;
  left: 0;
  right: 0;
}

.middle {
  position: absolute;
  width: 1520px;
  bottom: -300px;
  left: 0;
  right: 0;
  z-index: 5;
}

.mountains {
  position: absolute;
  width: 1200px;
  bottom: 20px;
  z-index: 4;
  right: 0;
}

.sky {
  position: absolute;
  width: 1520px;
  right: 0;
  top: -40px;
  z-index: 3;
  left: 0;
  right: 0;
}

.title {
  position: absolute;
  right: 130px;
  top: 350px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  z-index: 30;
  text-shadow: 2px 2px black;
}

.junior {
  position: absolute;
  font-size: 1rem;
  top: 410px;
  right: 20%;
  color: white;
  z-index: 30;
  text-shadow: 2px 2px black;
}

.downButton {
  position: absolute;
  background: url("img/down.png");
  background-size: cover;
  top: 65%;
  left: 85%;
  width: 50px;
  height: 100px;
  z-index: 45;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-animation: pulse 1.5s infinite linear;
          animation: pulse 1.5s infinite linear;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

section .about-box {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 5px solid #070303ef;
  background-image: url("img/socalobra.jpg");
}

section .about-box p {
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

section .projects-box {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 5px solid #070303ef;
  background-image: url("img/workstation.jpg");
}

section .contact-box {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 5px solid #070303ef;
}

#projects {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fader {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#070303ef));
  background: linear-gradient(to bottom, transparent, #070303ef);
  z-index: 70;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  z-index: 80;
  background: -webkit-gradient(linear, left top, right top, from(#060202), to(#070303ef));
  background: linear-gradient(to right, #060202, #070303ef);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  padding: 20px;
  font-size: 1.5rem;
  list-style-type: none;
  border-bottom: 2px solid #070303ef;
  -webkit-box-shadow: 2px 2px 1px #080404;
          box-shadow: 2px 2px 1px #080404;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul li {
  text-shadow: 3px 3px 3px black;
  font-weight: bold;
  padding-left: 30px;
  cursor: pointer;
}

nav ul li:hover {
  color: #5c5151ef;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  display: none;
}

.burger div {
  margin: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.up-button {
  background: url("img/up.png");
  width: 60px;
  height: 60px;
  position: fixed;
  top: 85%;
  left: 90%;
  background-size: cover;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
}

.up-button:hover {
  background-color: #443131ef;
}

.up-button.active {
  opacity: 1;
  display: block;
  -webkit-animation: rotate360 1.5s;
          animation: rotate360 1.5s;
}

.burger-transform .layer-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-transform .layer-2 {
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
  background-color: #070303ef;
}

.burger-transform .layer-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 1600px) {
  .mountains {
    right: 1480px;
  }
  .downButton {
    left: 93%;
    top: 70%;
  }
  .up-button {
    left: 95%;
  }
}

@media screen and (max-width: 768px) {
  html {
    -ms-touch-action: pan-y pinch-zoom;
        touch-action: pan-y pinch-zoom;
    font-size: 70%;
  }
  .middle {
    left: -430px;
  }
  .bottom {
    bottom: -20px;
  }
  .mountains {
    left: -150px;
    top: 210px;
  }
  .sky {
    top: 60px;
  }
  section .about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: url("img/socalobramob.jpg");
    background-size: cover;
    background-position: 90% 100%;
    border-top: 5px solid #070303ef;
  }
  section .projects-box {
    background-position: 70% 50%;
  }
  .up-button {
    width: 50px;
    height: 50px;
    left: 80%;
  }
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    height: 60px;
  }
  nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    position: absolute;
    right: 0px;
    top: 0;
    height: 88vh;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: #070303ef;
  }
  nav ul li {
    margin-top: 50px;
    opacity: 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .burger {
    display: block;
    margin-right: 30px;
  }
  .title {
    width: 40%;
    top: 50%;
    left: 7%;
  }
  .junior {
    top: 65%;
    left: 7%;
  }
  .downButton {
    top: 60%;
    left: 45%;
  }
  .fader {
    display: none;
  }
}

@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes navFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
