@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Signika", sans-serif;
}

header {
  font-family: "Chelsea Market", cursive;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}

.bottom {
  position: absolute;
  width: 1500px;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
}

.middle {
  position: absolute;
  width: 1200px;
  z-index: 11;
  left: 0;
  top: -160px;
}

.mountains {
  position: absolute;
  width: 1200px;
  top: 100px;
  right: 0;
  z-index: 12;
}

.title {
  position: absolute;
  right: 50px;
  top: 150px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  z-index: 30;
}

.junior {
  position: absolute;
  font-size: 1rem;
  top: 210px;
  right: 250px;
  color: white;
  z-index: 30;
}

.sky {
  position: absolute;
  width: 100%;
  top: -200px;
  z-index: 15;
}

.downButton {
  position: absolute;
  background: url("img/down.png");
  background-size: cover;
  top: 40%;
  left: 90%;
  width: 50px;
  height: 50px;
  z-index: 45;
}
