@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin zeroReset {
    margin: 0;
    padding: 0;
}

@mixin absoluteHorizontalReset{
    left:0;
    right:0;
}

*{
    box-sizing: border-box;
    @include zeroReset;
}




body{
    font-family: "Signika", sans-serif;
}

header{
    font-family: "Chelsea Market", cursive;   
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}



@mixin pulse {
    @keyframes pulse{
        from {
            opacity: 1;
        }
    
        to {
            opacity: 0;
        }
    }
    animation: pulse 1.5s infinite linear;
}

@mixin headerElementPosition{
    position: absolute;
    width: 1520px;
}

.bottom{
   @include headerElementPosition;
    z-index: 6;
    bottom: -50px;
    @include absoluteHorizontalReset;
}

.middle{
    @include headerElementPosition;
    bottom: -300px;
    @include absoluteHorizontalReset;
    z-index: 5;
    
    
}

.mountains{
    position: absolute;
    width:1200px;
    bottom: 20px;
    z-index: 4;
    right: 0;
}

.sky{
    @include headerElementPosition;
    right: 0;
    top: -40px;
    z-index: 3;
    @include absoluteHorizontalReset;
}

.title{
    position: absolute;
    right: 130px;
    top: 320px;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    z-index: 30;
    text-shadow: 2px 2px black;
}

.junior{
    position: absolute;
    font-size: 1rem;
    top: 380px;
    right: 330px;
    color: white;
    z-index: 30;
    text-shadow: 2px 2px black;
}



.downButton{
    position: absolute;
    background: url("img/down.png");
    background-size: cover;
    top: 65%;
    left: 80%;
    width: 50px;
    height: 50px;
    z-index: 45;
    transform: scale(1.6);
    @include pulse;
}

.container{
    @include flex-center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: linear-gradient(#141414, #121212);
}

.about{
    @include flex-center;
    justify-content: space-between;
    width: 70%;
    height: 1000px;
    font-size: 3rem;
    color: white;
    
}

.image-box{
    width: 33%;
    height: 33%;
    img{
        max-width: 100%;
        max-height:100%;
    }
}



